# --- SYSTEM & OS FILES ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# --- PHP & LARAVEL FILES ---
/vendor/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/pail/
/storage/*.key
.phpunit.result.cache
/.phpunit.cache/
/.phpunit.state
*.log
_ide_helper.php
_ide_helper_models.php
.phpdoc/
/.codex
/.server

# --- LOCAL ENVIRONMENT FILES ---
.env
.env.backup
.env.production
.env.*.local
auth.json
Homestead.json
Homestead.yaml

# --- FRONTEND (NODE / VITE / BUILD) ---

/node_modules/
/public/hot/
/public/storage/
/public/build/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- IDE & EDITORS ---
/.idea/
/.vscode/
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.sw?
.nova/
.zed/
.codex/
.cursor/
.phpactor.json
.vscode-test/
.fleet/
.idea_modules/
